
.head1{
text-align:center;
text-decoration:underline;
color:green;
text-decoration-color:red;
text-decoration-style:wave;
text-transformation:uppercase;
text-shadow:2px 3px red;
}
.text{
text-indent:70px;
text-align:justify;
letter-spacing:2px;
word-spacing: 5px;
line-height:50px;
font-family:Harrington;
font-size:large;
font-weight:bold;
font-variant:small-caps;
}
a{
text-decoration:none;
}
.text1{
font-size:100px;
color:pink;
}
.head2{
text-align:center;
color:pink;
}