h1:active{
font-size:100px;
}


.btn{
width:100px;
height:50px;
}

.btn:active{
background:lightgrey;
border:2px solid skyblue;
border-radius:50%;
}

a:hover{
color:red;
}

.Animation{
height:200px;
width:200px;
background:pink;
}
.Animation:hover{
width:500px;
height:500px;
background:#be2323a1;

}

span:active+div{
display:block;
}
div{
background:#2fc0c596;
color: grey;
display:none;
padding:50px;
width:400px;
}
