img{
width:500px;
height:500px;
float:left;
clip-path:polygon(50% 4%,39% 35%,6% 37%,
33% 57%,22% 90%,50% 70%,79% 91%,66% 57%,94% 38%,60% 37%);
shape-outside:polygon(50% 4%,39% 35%,6% 37%,
33% 57%,22% 90%,50% 70%,79% 91%,66% 57%,94% 38%,60% 37%);
shape-margin:10px;
}